.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  padding: 16px;
  border: 1px solid #aaa;  
}

.listItemLable {
  margin-bottom: 12px;
  font-size: 20px;
}

 .listItem {
   display: block;
 }

 .btnSubmit {
   padding: 4px 8px;
   border-radius: 6px;
   outline: none;
   cursor: pointer;
 }